.about-design {
  margin-bottom: 80px;

  @include mobile {
    margin-bottom: 60px;
  }

  .selection {
    &__header {
      margin: 0;

    }

    &__row {
      @include mobile {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    &__title {
      margin: 0;
      padding: 20px 0;

      @media (max-width: 1340px) {
        max-width: 950px;
      }
    }

    &__desc {
      @include mobile {
        max-height: unset;
        overflow: hidden;
      }
    }

    &__img {
      height: 370px;

      @include tablet {
        top: 50%;
        height: 340px;
      }

      @include mobile {
        height: 176px;
        margin-bottom: 20px;
      }
    }
  }
}