.cta {
  &__container {
    border-radius: 40px;
    background-color: #fff;
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: -120px;
      top: 0;
      height: 100%;
      width: 50%;

      background: #f6f6f6;
      clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);


      @include small-tablet {
        display: none;
      }
    }


    @include small-tablet {
      padding: 25px 20px;
      padding-bottom: 33px;
      border-radius: 20px;
      flex-direction: column;
      gap: 20px;
    }


  }

  &__left {

    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px 45px;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    @include small-tablet {
      display: flex;
      justify-content: center;
      gap: 15px;
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__right {
    width: 100%;
    max-width: 795px;

    @include tablet {
      max-width: 475px;
    }

    @include small-tablet {
      margin: 0 auto;
      text-align: center;
    }
  }

  &__block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include tablet {
      max-width: 225px;
    }

    @include small-tablet {
      flex: 1;
      max-width: 173px;
      align-items: center;
      text-align: center;
    }

    &:nth-child(1) {
      order: -1;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 0;
    }
  }

  &__capture {
    margin-bottom: 20px;

    @include small-tablet {
      width: 130px;
    }

    @include mobile {
      margin-bottom: 10px;
      padding: 6px;
    }
  }

  &__inf {
    font-weight: 400;
    font-size: 16px;
    color: #373737;
  }

  &__theme {
    margin-bottom: 20px;

    @include small-tablet {
      margin-bottom: 15px;
    }

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 20px;

    @include small-tablet {
      margin-bottom: 15px;
    }

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__desc {
    margin-bottom: 40px;

    @include small-tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 15px;
    }
  }

  &__form {
    margin-bottom: 20px;

    @include small-tablet {
      margin-bottom: 15px;
    }
  }

  &__agree {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #373737;

    @include small-tablet {
      span {
        display: block;
        max-width: 230px;
      }
    }

    @include mobile {
      span {
        max-width: 100%;
      }
    }


    a {
      color: var(--accent);
    }
  }
}