.prod-hero {
  margin-bottom: 60px;

  &__title {
    margin-bottom: 30px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 25px;


  }

  &__arr {
    position: absolute;
    z-index: 5;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #373737;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease-out;
    user-select: none;
    background-color: #373737;

    @include mobile {
      display: none;
    }

    &.swiper-button-disabled {
      background-color: transparent;
      pointer-events: none;

      svg {
        fill: #373737;
      }
    }

    svg {
      width: 25px;
      height: 25px;
      fill: #fff;
      transition: .3s ease-out;
    }

    &--prev {
      transform: translateY(-50%);
      left: 30px;
    }

    &--next {
      right: 30px;
      transform: translateY(-50%) rotate(180deg);
    }

    @include hover {
      border-color: var(--accent);

      svg {
        fill: var(--accent);
      }
    }
  }

  &__left {
    grid-column: 7 span;

    @include small-tablet {
      grid-column: 12 span;
    }
  }

  &__content {
    grid-column: 5 span;
    display: flex;
    flex-direction: column;

    @include small-tablet {
      grid-column: 12 span;
    }
  }

  &__about,
  &__vari {
    border-radius: 20px;
    background-color: #fff;
    padding: 30px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }

    @include small-tablet {
      padding: 20px;
      border-radius: 10px;
    }
  }

  &__vari {
    flex-grow: 1;

    @include tablet {
      flex-grow: unset;
    }

    @include small-tablet {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    @include mobile {
      display: block;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    overflow-x: auto;



    @media (max-width: 1440px) {
      gap: 20px;
    }
  }

  &__compl {

    margin-bottom: 25px;

    @media (max-width: 1440px) {
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
    }

    @include small-tablet {
      font-size: 25px;
      max-width: 175px;
      text-align: left;
      margin: 0;
    }

    @include mobile {
      max-width: 100%;
      margin-bottom: 25px;
      text-align: center;
    }
  }

  &__slider {
    height: 600px;
    margin-bottom: 15px;

    @include small-tablet {
      height: 500px;

    }

    @include mobile {
      height: 280px;
    }

    .swiper-slide {
      box-sizing: border-box;
      height: 100%;
      background-color: #fff;
      border-radius: 30px;
      overflow: hidden;

      @include small-tablet {
        border-radius: 10px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &__thumbs {
    .swiper-slide {
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      background-color: #fff;
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &.swiper-slide-thumb-active {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}


.prod-about {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1440px) {
    flex-direction: column;
    gap: 20px;
  }

  @include small-tablet {
    margin-top: 70px;
  }



  &__btn {
    @include small-tablet {
      position: absolute;
      bottom: calc(100% + 20px);
      height: 50px;
      left: 0;
      right: 0;
    }
  }

  &__left {
    @include mobile {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      width: 100%;
    }
  }

  &__cost {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 40px;
    color: #373737;

    @media (max-width: 1440px) {
      font-size: 30px;
    }

    @include small-tablet {
      display: none;
    }
  }

  &__price {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 50px;
    color: #ff7a00;
    flex-shrink: 0;

    @media (max-width: 1440px) {
      font-size: 40px;
    }

    @include mobile {
      font-size: 30px;
    }
  }
}

.prod-var {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 15px;

  padding: 10px 7px;
  padding-top: 0;
  width: 170px;
  height: 270px;
  border: 1px solid #ff7a00;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;



  @include tablet {
    padding: 10px;
    padding-top: 0;
    width: auto;
    align-items: center;
    flex: 1;
    height: 230px;
    justify-content: flex-end;
  }

  @include small-tablet {
    height: 60px;
    height: 60px;
    padding: 5px;
    padding-top: 0;
    border-radius: 10px;
  }

  @include mobile {
    flex: unset;
    width: 60px;
    height: 60px;
  }

  &__img {
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
      height: 100%;
      margin: 0;
      flex: unset;
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: contain;

      @include tablet {
        height: 100%;
        width: 100%;
      }
    }
  }

  &__info {
    margin-top: auto;
    text-align: center;

    @include small-tablet {
      display: none;
    }
  }

  &__name {
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #373737;
  }

  &__price {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #ff7a00;
  }
}