<section class="about-design">
  <div class="container">
    <div class="selection__header">
      <h2 class="title2 selection__title">
        Мы не только производим инструмент для обработки бетона. Мы производим,
        укладываем бетон и знаем, какой должен быть
        <span>бетонный инструмент. </span>
      </h2>
      <div class="selection__row">
        <div class="selection__img">
          <img src="./img/selection.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
