<section class="about-hero">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="./">Главная</a>
        </li>
        <li>
          <span>О нас</span>
        </li>
      </ul>
    </div>
    <h1 class="title1 about-hero__title">О нас</h1>

    <div class="about-hero__container">
      <div class="about-hero__text text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget quam
          dapibus, hendrerit ex vel, mattis felis. Nullam vehicula porta nisl
          sit amet fermentum. Etiam auctor nisi id vehicula vulputate. Aenean
          malesuada augue vel purus mollis, sed tempus tellus iaculis. Donec ex
          libero, egestas at laoreet non, sagittis non orci. Quisque efficitur
          porta lacus nec tempus. Integer non purus eu nisi tempor lacinia.
          Maecenas nec ultrices mauris. Praesent nec tortor ut augue tristique
          euismod eget vel ipsum.
        </p>
      </div>
      <div class="about-hero__img about-hero__img--long">
        <img src="./img/about/02.webp" alt="" />
      </div>
      <div class="about-hero__text text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget quam
          dapibus, hendrerit ex vel, mattis felis. Nullam vehicula porta nisl
          sit amet fermentum. Etiam auctor nisi id vehicula vulputate. Aenean
          malesuada augue vel purus mollis, sed tempus tellus iaculis. Donec ex
          libero, egestas at laoreet non, sagittis non orci. Quisque efficitur
          porta lacus nec tempus. Integer non purus eu nisi tempor lacinia.
          Maecenas nec ultrices mauris. Praesent nec tortor ut augue tristique
          euismod eget vel ipsum.
        </p>
      </div>
      <div class="about-hero__img">
        <img src="./img/about/01.webp" alt="" />
      </div>
    </div>

    <div class="about-hero__container about-hero__container--bottom">
      <div class="about-hero__left">
        <div class="about-hero__logo">
          <img src="./img/logo.svg" alt="" />
        </div>
        <div class="about-hero__items">
          <div class="main-about__item ab-item">
            <div class="ab-item__title subtitle1">Арсенал инструмента</div>

            <p class="text ab-item__text">Более чем 20 наименований.</p>
          </div>
          <div class="main-about__item ab-item">
            <div class="ab-item__title subtitle1">>15 лет</div>

            <p class="text ab-item__text">
              Работаем с бетоном и точно знаем, как лучше.
            </p>
          </div>
        </div>
      </div>
      <div class="about-hero__right">
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget quam
          dapibus, hendrerit ex vel, mattis felis. Nullam vehicula porta nisl
          sit amet fermentum. Etiam auctor nisi id vehicula vulputate. Aenean
          malesuada augue vel purus mollis, sed tempus tellus iaculis. Donec ex
          libero, egestas at laoreet non, sagittis non orci. Quisque efficitur
          porta lacus nec tempus. Integer non purus eu nisi tempor lacinia.
          Maecenas nec ultrices mauris. Praesent nec tortor ut augue tristique
          euismod eget vel ipsum.
          <br />
          <br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget quam
          dapibus, hendrerit ex vel, mattis felis. Nullam vehicula porta nisl
          sit amet fermentum. Etiam auctor nisi id vehicula vulputate. Aenean
          malesuada augue vel purus mollis, sed tempus tellus iaculis. Donec ex
          libero, egestas at laoreet non, sagittis non orci.
          <br />
          <br />
          Quisque efficitur porta lacus nec tempus. Integer non purus eu nisi
          tempor lacinia. Maecenas nec ultrices mauris. Praesent nec tortor ut
          augue tristique euismod eget vel ipsum.
          <br />
          <br />
          Donec ex libero, egestas at laoreet non, sagittis non orci. Quisque
          efficitur porta lacus nec tempus. Integer non purus eu nisi tempor
          lacinia. Maecenas nec ultrices mauris. Praesent nec tortor ut augue
          tristique euismod eget vel ipsum.
        </p>
      </div>
    </div>
  </div>
</section>
