<section class="about-design">
  <div class="container">
    <div class="selection__header">
      <h2 class="title2 selection__title">
        Мы не только производим инструментдля обработки бетона. Мы производим,
        укладываем бетон и знаем, какой должен быть
        <span>бетонный инструмент.</span>
      </h2>
      <div class="selection__row">
        <p class="text selection__desc">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget quam
          dapibus, hendrerit ex vel, mattis felis. Nullam vehicula porta nisl
          sit amet fermentum. Etiam auctor nisi id vehicula vulputate. Aenean
          malesuada augue vel purus mollis, sed tempus tellus iaculis. Donec ex
          libero, egestas at laoreet non, sagittis non orci. Quisque efficitur
          porta lacus nec tempus. Integer non purus eu nisi tempor lacinia.
          Maecenas nec ultrices mauris. Praesent nec tortor ut augue tristique
          euismod eget vel ipsum.
        </p>

        <div class="selection__img">
          <img src="./img/selection.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
