<section class="contacts">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="./">Главная</a>
        </li>
        <li>
          <span>Связаться с нами</span>
        </li>
      </ul>
    </div>

    <h1 class="title1 instrument-cat__title">Контакты</h1>

    <div class="contacts__container">
      <address class="contacts__address addr">
        <div class="addr__row">
          <div class="addr__icon">
            <img src="./img/map-icon.webp" alt="" />
          </div>
          <span
            >Адрес офиса: Санкт-Петербург, Балканская площадь. 5АД, БЦ
            Балканский-1</span
          >
        </div>
        <div class="addr__row">
          <div class="addr__icon">
            <img src="./img/tel-icon.webp" alt="" />
          </div>
          <span
            >Телефон: <a href="tel:+78124265470">+7 (812) 426-54-70</a></span
          >
        </div>
        <div class="addr__row">
          <div class="addr__icon">
            <img src="./img/email-icon.webp" alt="" />
          </div>
          <span
            >Эл. почта:
            <a href="mailto:instrument@gorizontbeton.ru"
              >instrument@gorizontbeton.ru</a
            ></span
          >
        </div>
        <div class="addr__row">
          <div class="addr__icon">
            <img src="./img/time-icon.webp" alt="" />
          </div>
          <span>График работы: Пн-Вск с 09:00 до 20:00 (без выходных)</span>
        </div>
      </address>

      <div class="contacts__map" id="map"></div>
    </div>

    <div class="contacts__cta c-cta">
      <div class="c-cta__content">
        <div class="c-cta__title title1 centered">Сервис и поддержка</div>
        <p class="text c-cta__desc centered">
          Оставьте свое сообщени е и опишите проблему, и мы перезвоним Вам в
          ближайшее время.
        </p>

        <form action="#" class="cta-form cta__form c-cta__form">
          <div class="c-cta__wrapper">
            <label class="cta-form__label">
              <input
                type="text"
                placeholder="Ваше имя"
                class="input-reset cta-form__input cta-form__input--white input-name"
              />
            </label>
            <label class="cta-form__label">
              <input
                type="tel"
                placeholder="Телефон"
                class="input-reset cta-form__input cta-form__input--white input-tel"
              />
            </label>
            <button class="cta-form__btn btn-reset btn btn--white">
              Задать вопрос
            </button>
          </div>
          <div class="cta__agree c-cta__agree">
            <span>
              Отправляя заявку, вы соглашаетесь с
              <a href="#">Политикой конфиденциальности</a>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
