<section class="faq">
  <div class="container">
    <div class="faq__container">
      <div class="faq__theme title3 title3--accent">Вопрос-ответ</div>
      <div class="title2 faq__title">Часто задаваемые вопросы</div>

      <ul class="list-reset faq__list">
        <li class="faq__item faq-item" data-acc-container>
          <div class="faq-item__header">
            <div class="faq-item__quest title5">
              Вопрос первый. Что вы хотели бы узнать?
            </div>

            <button class="btn-reset faq-item__more" data-acc-btn></button>
          </div>
          <div class="faq-item__body" data-acc-content>
            <div class="faq-item__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
              quam dapibus, hendrerit ex vel, mattis felis. Nullam vehicula
              porta nisl sit amet fermentum. Etiam auctor nisi id vehicula
              vulputate. Aenean malesuada augue vel purus mollis, sed tempus
              tellus iaculis. Donec ex libero, egestas at laoreet non, sagittis
              non orci. Quisque efficitur porta lacus nec tempus. Integer non
              purus eu nisi tempor lacinia. Maecenas nec ultrices mauris.
              Praesent nec tortor ut augue tristique euismod eget vel ipsum.
            </div>
          </div>
        </li>
        <li class="faq__item faq-item" data-acc-container>
          <div class="faq-item__header">
            <div class="faq-item__quest title5">
              Вопрос второй. Что вы хотели бы узнать? Что вы хотели бы узнать?
            </div>

            <button class="btn-reset faq-item__more" data-acc-btn></button>
          </div>
          <div class="faq-item__body" data-acc-content>
            <div class="faq-item__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
              quam dapibus, hendrerit ex vel, mattis felis. Nullam vehicula
              porta nisl sit amet fermentum. Etiam auctor nisi id vehicula
              vulputate. Aenean malesuada augue vel purus mollis, sed tempus
              tellus iaculis. Donec ex libero, egestas at laoreet non, sagittis
              non orci. Quisque efficitur porta lacus nec tempus. Integer non
              purus eu nisi tempor lacinia. Maecenas nec ultrices mauris.
              Praesent nec tortor ut augue tristique euismod eget vel ipsum.
            </div>
          </div>
        </li>
        <li class="faq__item faq-item" data-acc-container>
          <div class="faq-item__header">
            <div class="faq-item__quest title5">
              Вопрос третий. Что вы хотели бы узнать?
            </div>

            <button class="btn-reset faq-item__more" data-acc-btn></button>
          </div>
          <div class="faq-item__body" data-acc-content>
            <div class="faq-item__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
              quam dapibus, hendrerit ex vel, mattis felis. Nullam vehicula
              porta nisl sit amet fermentum. Etiam auctor nisi id vehicula
              vulputate. Aenean malesuada augue vel purus mollis, sed tempus
              tellus iaculis. Donec ex libero, egestas at laoreet non, sagittis
              non orci. Quisque efficitur porta lacus nec tempus. Integer non
              purus eu nisi tempor lacinia. Maecenas nec ultrices mauris.
              Praesent nec tortor ut augue tristique euismod eget vel ipsum.
            </div>
          </div>
        </li>
        <li class="faq__item faq-item" data-acc-container>
          <div class="faq-item__header">
            <div class="faq-item__quest title5">
              Вопрос четвертый. Что вы хотели бы узнать?
            </div>

            <button class="btn-reset faq-item__more" data-acc-btn></button>
          </div>
          <div class="faq-item__body" data-acc-content>
            <div class="faq-item__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
              quam dapibus, hendrerit ex vel, mattis felis. Nullam vehicula
              porta nisl sit amet fermentum. Etiam auctor nisi id vehicula
              vulputate. Aenean malesuada augue vel purus mollis, sed tempus
              tellus iaculis. Donec ex libero, egestas at laoreet non, sagittis
              non orci. Quisque efficitur porta lacus nec tempus. Integer non
              purus eu nisi tempor lacinia. Maecenas nec ultrices mauris.
              Praesent nec tortor ut augue tristique euismod eget vel ipsum.
            </div>
          </div>
        </li>
        <li class="faq__item faq-item" data-acc-container>
          <div class="faq-item__header">
            <div class="faq-item__quest title5">
              Вопрос пятый. Что вы хотели бы узнать?
            </div>

            <button class="btn-reset faq-item__more" data-acc-btn></button>
          </div>
          <div class="faq-item__body" data-acc-content>
            <div class="faq-item__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
              quam dapibus, hendrerit ex vel, mattis felis. Nullam vehicula
              porta nisl sit amet fermentum. Etiam auctor nisi id vehicula
              vulputate. Aenean malesuada augue vel purus mollis, sed tempus
              tellus iaculis. Donec ex libero, egestas at laoreet non, sagittis
              non orci. Quisque efficitur porta lacus nec tempus. Integer non
              purus eu nisi tempor lacinia. Maecenas nec ultrices mauris.
              Praesent nec tortor ut augue tristique euismod eget vel ipsum.
            </div>
          </div>
        </li>
        <li class="faq__item faq-item" data-acc-container>
          <div class="faq-item__header">
            <div class="faq-item__quest title5">
              Вопрос шестой. Что вы хотели бы узнать? В чем ваш вопрос?
            </div>

            <button class="btn-reset faq-item__more" data-acc-btn></button>
          </div>
          <div class="faq-item__body" data-acc-content>
            <div class="faq-item__content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
              quam dapibus, hendrerit ex vel, mattis felis. Nullam vehicula
              porta nisl sit amet fermentum. Etiam auctor nisi id vehicula
              vulputate. Aenean malesuada augue vel purus mollis, sed tempus
              tellus iaculis. Donec ex libero, egestas at laoreet non, sagittis
              non orci. Quisque efficitur porta lacus nec tempus. Integer non
              purus eu nisi tempor lacinia. Maecenas nec ultrices mauris.
              Praesent nec tortor ut augue tristique euismod eget vel ipsum.
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
