<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="title1 hero__title">
          Производство уникальных
          <span>бетонных инструментов</span>
          в Санкт-Петербурге
        </h1>
        <p class="text hero__desc">
          Мы первые среди российских производителей начали производить бетонные
          инструменты и комплектующие, которые раньше можно было закупить только
          за рубежом.
        </p>
        <div class="hero__buttons">
          <a href="#" class="btn btn--white hero__btn" data-popup-btn="cons"
            >Проконсультироваться</a
          >
          <a href="#" class="btn btn--dark hero__btn" data-popup-btn="recall"
            >Заказать звонок</a
          >
        </div>
      </div>

      <div class="hero__elems hero-elems">
        <div class="hero-elems__left-top">
          <img src="./img/hero/orange-hand.webp" alt="" />
        </div>
        <div class="hero-elems__left-bottom">
          <img src="./img/hero/white-hand.webp" alt="" />
        </div>

        <div class="hero-elems__right-top">
          <img src="./img/hero/ghost-hand.webp" alt="" />
        </div>
        <div class="hero-elems__right-mid">
          <img src="./img/hero/savok.webp" alt="" />
        </div>
        <div class="hero-elems__right-bottom">
          <img src="./img/hero/double-savok.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
