<section class="main-about">
  <div class="container">
    <div class="main-about__container">
      <div class="main-about__row">
        <div class="main-about__left">
          <h2 class="title3 title3--accent main-about__title">О нас</h2>
          <p class="text main-about__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget
            quam dapibus, hendrerit ex vel, mattis felis. Nullam vehicula porta
            nisl sit amet fermentum. Etiam auctor nisi id vehicula vulputate.
            Aenean malesuada augue vel purus mollis, sed tempus tellus iaculis.
            Donec ex libero, egestas at laoreet non, sagittis non orci. Quisque
            efficitur porta lacus nec tempus. Integer non purus eu nisi tempor
            lacinia. Maecenas nec ultrices mauris. Praesent nec tortor ut augue
            tristique euismod eget vel ipsum.
          </p>

          <div class="main-about__buttons">
            <a
              href="#"
              class="btn btn-reset main__about btn"
              data-popup-btn="cons"
              >Проконсультироваться</a
            >
            <a href="#" class="btn btn-reset main__about btn btn--dark"
              >Каталог инструментов</a
            >
          </div>
        </div>

        <div class="main-about__right">
          <div class="main-about__logo">
            <img src="./img/logo.svg" alt="" />
          </div>
          <div class="main-about__items">
            <div class="main-about__item ab-item">
              <div class="ab-item__title subtitle1">Арсенал инструмента</div>

              <p class="text ab-item__text">Более чем 20 наименований.</p>
            </div>
            <div class="main-about__item ab-item">
              <div class="ab-item__title subtitle1">>15 лет</div>

              <p class="text ab-item__text">
                Работаем с бетоном и точно знаем, как лучше.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
