<div class="main-catalog">
  <div class="container">
    <div class="main-catalog__items">
      <div class="main-catalog__cover">
        <div class="main-catalog__logo">
          <img src="./img/main-catalog/logo-white.svg" alt="" />
        </div>
        <h2 class="main-catalog__title subtitle1">
          Мы производим <span>качественные</span> и надежные
          <span>инструменты</span> для обработки бетона
        </h2>
        <div class="main-catalog__img">
          <img src="./img/main-catalog/cover.webp" alt="" />
        </div>
      </div>

      <div class="main-catalog__item mc-item">
        <div class="mc-item__title subtitle1">Бетоноукладчик за 1000 руб.</div>
        <p class="text mc-item__desc">
          Подберем необходимые инструменты на любой случай
        </p>

        <a href="#" class="mc-item__link link-arr"
          >Узнать подробнее
          <svg class="">
            <use xlink:href="img/sprite.svg#link-arr"></use>
          </svg>
        </a>

        <div class="mc-item__img">
          <img src="./img/main-catalog/item.webp" alt="" />
        </div>
      </div>

      <div class="main-catalog__item mc-item mc-item--img">
        <div class="mc-item__cover">
          <picture>
            <source
              srcset="./img/main-catalog/double-obj-mob.webp"
              type="image/webp"
              media="(max-width: 850px)"
            />
            <source
              srcset="./img/main-catalog/double-obj.webp"
              type="image/webp"
            />
            <img src="./img/main-catalog/double-obj.webp" alt="" />
          </picture>
        </div>
      </div>
      <div class="main-catalog__item mc-item mc-item--short mc-item--sb">
        <div class="title3 mc-item__title">Специальные предложения</div>
        <div class="mc-item__bottom">
          <p class="text">
            Выгодные акции на самые популярные товары популярные товары акции
          </p>
          <a href="#">
            <svg
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.6777 2.00202C22.6777 0.897447 21.7822 0.00201609 20.6777 0.00201694L2.67767 0.00201651C1.5731 0.00201651 0.677669 0.897447 0.677669 2.00202C0.677669 3.10659 1.5731 4.00202 2.67767 4.00202L18.6777 4.00202L18.6777 20.002C18.6777 21.1066 19.5731 22.002 20.6777 22.002C21.7822 22.002 22.6777 21.1066 22.6777 20.002L22.6777 2.00202ZM4.41421 21.0939L22.0919 3.41623L19.2635 0.587803L1.58579 18.2655L4.41421 21.0939Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>

      <div class="main-catalog__item mc-item mc-item--short mc-item--sb">
        <div class="title3 mc-item__title">О нас</div>
        <div class="mc-item__bottom">
          <p class="text">Мы всегда совершенствуем производимые инструменты</p>
          <a href="#">
            <svg
              width="23"
              height="22"
              viewBox="0 0 23 22"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M22.6777 2.00202C22.6777 0.897447 21.7822 0.00201609 20.6777 0.00201694L2.67767 0.00201651C1.5731 0.00201651 0.677669 0.897447 0.677669 2.00202C0.677669 3.10659 1.5731 4.00202 2.67767 4.00202L18.6777 4.00202L18.6777 20.002C18.6777 21.1066 19.5731 22.002 20.6777 22.002C21.7822 22.002 22.6777 21.1066 22.6777 20.002L22.6777 2.00202ZM4.41421 21.0939L22.0919 3.41623L19.2635 0.587803L1.58579 18.2655L4.41421 21.0939Z"
                fill="white"
              />
            </svg>
          </a>
        </div>
      </div>
      <a href="#" class="mc-item__cat link-arr">
        Каталог
        <svg class="">
          <use xlink:href="img/sprite.svg#link-arr"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
