<div class="menu">
  <div class="menu__body">
    <nav class="menu__nav nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link">Каталог</a>
        </li>
        <li class="nav__item nav__item--prom">
          <a href="#" class="nav__link">Акции</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Сервис и поддержка</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
