<section class="pay">
  <div class="container">
    <div class="pay__container">
      <div class="pay__row">
        <div class="pay__left">
          <div class="pay__theme title3 title3--accent">Бестселлеры</div>
          <div class="pay__title title2">Как оплатить заказ</div>
          <p class="pay__desc text">
            Вся информация на сайте не является публичной офертой, определяемой
            положениями статьи 437 ГК РФ
          </p>
        </div>
        <div class="pay__items">
          <div class="pay__icon">
            <img src="./img/pay/mir.webp" alt="" />
          </div>
          <div class="pay__icon">
            <img src="./img/pay/master.webp" alt="" />
          </div>
          <div class="pay__icon">
            <img src="./img/pay/visa.webp" alt="" />
          </div>
          <div class="pay__icon">
            <img src="./img/pay/visa-2.webp" alt="" />
          </div>
          <div class="pay__icon">
            <img src="./img/pay/visa-3.webp" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
