<section class="popular popular-partner">
  <div class="container">
    <div class="popular__theme title3 title3--accent">Продукция партнеров</div>

    <div class="popular__header">
      <h2 class="title2 popular__title">
        Мы сотрудничаем с другими надежными производителями
      </h2>

      <div class="popular__control control">
        <div class="control__btn control__btn--prev popular-prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>
        <div class="control__btn control__btn--next popular-next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="popular__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide popular__item popular-item">
          <div class="popular-item__img">
            <img src="./img/popular/02.webp" alt="" />
          </div>
          <div class="popular-item__content">
            <div class="popular-item__name">
              Скребок выравнивающий (для бетона) 190 мм Серия Профи
            </div>
            <div class="popular-item__price">4600 ₽</div>
            <button class="btn-reset btn popular-item__btn">
              Добавить в корзину
            </button>
          </div>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <div class="popular-item__img">
            <img src="./img/popular/02.webp" alt="" />
          </div>
          <div class="popular-item__content">
            <div class="popular-item__name">
              Скребок выравнивающий (для бетона) 190 мм Серия Профи
            </div>
            <div class="popular-item__price">4600 ₽</div>
            <button class="btn-reset btn popular-item__btn">
              Добавить в корзину
            </button>
          </div>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <div class="popular-item__img">
            <img src="./img/popular/02.webp" alt="" />
          </div>
          <div class="popular-item__content">
            <div class="popular-item__name">
              Скребок выравнивающий (для бетона) 190 мм Серия Профи
            </div>
            <div class="popular-item__price">4600 ₽</div>
            <button class="btn-reset btn popular-item__btn">
              Добавить в корзину
            </button>
          </div>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <div class="popular-item__img">
            <img src="./img/popular/02.webp" alt="" />
          </div>
          <div class="popular-item__content">
            <div class="popular-item__name">
              Скребок выравнивающий (для бетона) 190 мм Серия Профи
            </div>
            <div class="popular-item__price">4600 ₽</div>
            <button class="btn-reset btn popular-item__btn">
              Добавить в корзину
            </button>
          </div>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <div class="popular-item__img">
            <img src="./img/popular/02.webp" alt="" />
          </div>
          <div class="popular-item__content">
            <div class="popular-item__name">
              Скребок выравнивающий (для бетона) 190 мм Серия Профи
            </div>
            <div class="popular-item__price">4600 ₽</div>
            <button class="btn-reset btn popular-item__btn">
              Добавить в корзину
            </button>
          </div>
        </div>
        <div class="swiper-slide popular__item popular-item">
          <div class="popular-item__img">
            <img src="./img/popular/02.webp" alt="" />
          </div>
          <div class="popular-item__content">
            <div class="popular-item__name">
              Скребок выравнивающий (для бетона) 190 мм Серия Профи
            </div>
            <div class="popular-item__price">4600 ₽</div>
            <button class="btn-reset btn popular-item__btn">
              Добавить в корзину
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="popular__pagination pagination"></div>

    <a href="#" class="popular__link btn btn--dark">Перейти в каталог</a>
  </div>
</section>
