<div class="popup popup-recall">
  <div class="popup__body">
    <div class="popup__close">
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="38.614"
          height="3.45267"
          transform="matrix(0.70474 0.709465 -0.70474 0.709465 2.43359 0)"
          fill="#373737"
        />
        <rect
          width="38.614"
          height="3.45267"
          transform="matrix(0.70474 -0.709465 0.70474 0.709465 0.353516 27.5505)"
          fill="#373737"
        />
      </svg>
    </div>
    <div class="popup__content">
      <div class="popup__subtitle title3">
        Оставьте заявку на обратный звонок
      </div>

      <div class="popup__title">Заполните форму</div>
      <form action="#" class="form cta-form popup__form">
        <div class="popup__row">
          <label class="form__label cta-form__label">
            <input
              type="text"
              class="cta-form__input form__input input-name"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__label cta-form__label">
            <input
              type="tel"
              class="cta-form__input form__input input-tel"
              placeholder="Телефон"
            />
          </label>
        </div>

        <button class="form__btn btn btn--orange btn-reset">
          Перезвоните мне
        </button>
      </form>
      <div class="cta__agree popup__agree">
        Отправляя заявку, вы соглашаетесь с
        <a href="#">Политикой конфиденциальности</a>
      </div>
    </div>
  </div>
</div>
