<div class="popup popup-video">
  <div class="popup__wrapper">
    <div class="popup__close">
      <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="38.614"
          height="3.45267"
          transform="matrix(0.70474 0.709465 -0.70474 0.709465 2.43359 0)"
        />
        <rect
          width="38.614"
          height="3.45267"
          transform="matrix(0.70474 -0.709465 0.70474 0.709465 0.353516 27.5505)"
        />
      </svg>
    </div>
    <div class="popup__body" data-video-src="">
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>
</div>
