<section class="prod-chars">
  <div class="container">
    <div class="prod-chars__tabs">
      <div class="prod-chars__tab title2 active" data-tab="more">
        Подробное описание
      </div>
      <div class="prod-chars__tab title2" data-tab="chars">Характеристики</div>
      <div class="prod-chars__tab title2" data-tab="video">Видео</div>
      <div class="prod-chars__tab title2" data-tab="lic">
        Лицензии и сертификаты
      </div>
    </div>

    <div
      class="prod-chars__content prod-content active"
      data-tab-content="more"
    >
      <div class="prod-content__container prod-content__container--more">
        <div class="prod-content__left">
          <div class="prod-content__body">
            <div class="title2 prod-content__title">Подробное описание</div>
            <p class="text prod-content__desc">
              Гладилка по бетону — инструмент для профессиональной коррекции
              свежеприготовленного бетона. Востребована при работе по
              свежеуложенному бетону или раствору. Благодаря большой площади
              рабочей поверхности и удобной эргономичной телескопической рукояти
              помогает увеличить качество бетонирования и скорость работы со
              свежей смесью.
              <br />
              <br />
              Используется для придания гладкости и устранения неровностей
              горизонтальной поверхности после распределения раствора
              бетоноукладчиком и виброуплотнения. Является более удобной и
              качественной заменой традиционным самодельным деревянным
              конструкциям. 
            </p>

            <div class="title2 prod-content__title">Области применения</div>
            <p class="text prod-content__desc">
              Купить телескопическую гладилку для бетона предпочитают
              профессиональные мастера и строительные компании для
              благоустройства общественных территорий (тротуары, парковки,
              скейтпарки, пешеходные дорожки и других), выполнения дорожных и
              инженерных работ.
              <br />
              <br />
              Инструмент широко применяется в строительстве при создании
              монолитных фундаментов, заливке фундаментов хозяйственно-бытовых
              построек, возведении отмосток, стяжке полов, обустройстве погребов
              и подвалов
            </p>

            <div class="title2 prod-content__title">
              Особенности конструкции и функции
            </div>
            <p class="text prod-content__desc">
              Ровнитель для бетона изготавливается из долговечного алюминиевого
              сплава, прошедшего антикоррозионную обработку. Предлагается с
              двумя видами ручек — стандартной из алюминия длиной 1800 мм и
              телескопической, длиной от 1500 до 2800 мм. Рабочая плоскость
              гладилки может быть 1200х80мм, а так же 1500х80 мм  и 1800х80 мм
              для работы на больших площадях.
              <br />
              <br />
              Гладилка для бетона предлагается с ровными лезвиями и
              закругленными краями. Ручка фиксируется к планке с помощью
              эксцентрикого механизма, что гарантирует хорошую маневренность на
              любой поверхности и лёгкость в сборе и разборе инструмента. Так же
              благодаря удобному мехонизму крепления рукояти, инструмент
              складывается и помещается в любой современный автомобиль.
              <br />
              <br />
              Финишная гладилка для бетона удаляет с поверхности свежеуложенной
              бетонной смеси избыточную влагу, цементное молочко. Помогает
              избавиться от выемок, пузырьков, бугорков и полностью заполнить
              углубления.
              <br />
              <br />
              Принцип работы швабры по бетону связан с совершением
              последовательных поступательных движений по сырой бетонной смеси.
              Максимальный результат достигается при перемещении инструмента во
              взаимно перпендикулярных направлениях без его погружения в
              бетонную массу.
            </p>
          </div>
        </div>
        <div class="prod-content__right">
          <div class="prod-content__body prod-content__has">
            <div class="title2 prod-content__title">Наличие</div>
            <ul class="prod-content__list text">
              <li>Санкт-Петербург Балканская пл. 5 - <span>1 шт.</span></li>
              <li>Удалённый склад - <span>2 шт.</span></li>
            </ul>
          </div>

          <div class="prod-content__body prod-cost">
            <div class="prod-cost__header">
              <div class="prod-cost__title">Стоимость</div>
              <div class="prod-cost__col">
                <div class="prod-cost__title prod-cost__title--accent">
                  Скидка 6%
                </div>
                <span class="prod-cost__capture">при заказе от 10 шт.</span>
              </div>
            </div>
            <p class="prod-cost__desc text">
              При заказе оптом от 10 шт. действуют скидки. Уточняйте у
              оператора.
            </p>
          </div>

          <div class="prod-content__link">
            <a href="#" class="link-arr btn btn--orange prod-content__btn"
              >Получить консультацию
              <svg
                width="23"
                height="22"
                viewBox="0 0 23 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22.6777 2.00006C22.6777 0.895494 21.7822 6.29676e-05 20.6777 6.38105e-05L2.67767 6.3389e-05C1.5731 6.3389e-05 0.677669 0.895494 0.677669 2.00006C0.677669 3.10463 1.5731 4.00006 2.67767 4.00006L18.6777 4.00006L18.6777 20.0001C18.6777 21.1046 19.5731 22.0001 20.6777 22.0001C21.7822 22.0001 22.6777 21.1046 22.6777 20.0001L22.6777 2.00006ZM4.41421 21.0919L22.0919 3.41428L19.2635 0.58585L1.58579 18.2635L4.41421 21.0919Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>

          <div class="prod-content__body prod-pay">
            <div class="prod-pay__subtitle title3 title3--accent">
              Способы оплаты
            </div>
            <div class="prod-pay__title">Как оплатить заказ</div>
            <div class="prod-pay__items">
              <div class="prod-pay__icon">
                <img src="./img/pay/mir.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/master.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/visa.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/visa-2.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/visa-3.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="prod-chars__content prod-content" data-tab-content="video">
      <div class="prod-content__container prod-content__container--more">
        <div class="prod-content__left">
          <div class="prod-content__video prod-video" data-video-container>
            <video
              src="cover.mp4"
              poster="./img/products/01.webp"
              data-video-video
            ></video>
            <div class="prod-video__play" data-video-btn></div>
          </div>
        </div>
        <div class="prod-content__right">
          <div class="prod-content__body prod-cost">
            <div class="prod-cost__header">
              <div class="prod-cost__title">Стоимость</div>
              <div class="prod-cost__col">
                <div class="prod-cost__title prod-cost__title--accent">
                  1 500 руб.
                </div>
              </div>
            </div>
            <p class="prod-cost__desc text">
              При заказе оптом от 5 шт. действуют скидки. Уточняйте у оператора.
            </p>
          </div>

          <div class="prod-content__link">
            <a href="#" class="link-arr btn btn--orange prod-content__btn"
              >Получить консультацию
              <svg
                width="23"
                height="22"
                viewBox="0 0 23 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M22.6777 2.00006C22.6777 0.895494 21.7822 6.29676e-05 20.6777 6.38105e-05L2.67767 6.3389e-05C1.5731 6.3389e-05 0.677669 0.895494 0.677669 2.00006C0.677669 3.10463 1.5731 4.00006 2.67767 4.00006L18.6777 4.00006L18.6777 20.0001C18.6777 21.1046 19.5731 22.0001 20.6777 22.0001C21.7822 22.0001 22.6777 21.1046 22.6777 20.0001L22.6777 2.00006ZM4.41421 21.0919L22.0919 3.41428L19.2635 0.58585L1.58579 18.2635L4.41421 21.0919Z"
                  fill="white"
                />
              </svg>
            </a>
          </div>

          <div class="prod-content__body prod-pay">
            <div class="prod-pay__subtitle title3 title3--accent">
              Способы оплаты
            </div>
            <div class="prod-pay__title">Как оплатить заказ</div>
            <div class="prod-pay__items">
              <div class="prod-pay__icon">
                <img src="./img/pay/mir.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/master.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/visa.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/visa-2.webp" alt="" />
              </div>
              <div class="prod-pay__icon">
                <img src="./img/pay/visa-3.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="prod-chars__content prod-content" data-tab-content="chars">
      <div class="prod-content__container">
        <div class="prod-content__left">
          <div class="prod-content__body">
            <div class="title2 prod-content__title">Характеристики</div>
            <ul class="prod-content__chars list-reset text">
              <li>
                <span>Материал</span>
                <span>Алюминиевый сплав,  ударопрочный пластик, Сталь</span>
              </li>
              <li>
                <span>Размер рабочей плоскости</span>
                <span>1500х80 мм</span>
              </li>
              <li>
                <span>Длина ручки телескопа</span>
                <span>1,5-2,7 м</span>
              </li>
              <li>
                <span>Вес комплекта</span>
                <span>3,4 кг</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="prod-content__right">
          <div class="prod-content__body prod-content__has">
            <div class="title2 prod-content__title">Наличие</div>
            <ul class="prod-content__list text">
              <li>Санкт-Петербург Балканская пл. 5 - <span>1 шт.</span></li>
              <li>Удалённый склад - <span>2 шт.</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="prod-chars__content prod-chars" data-tab-content="lic">
      <div class="prod-chars__slider lic-slider swiper">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide"
            data-src="./img/lic/01.webp"
            data-fancybox="gallery"
          >
            <div class="prod-chars__lic">
              <img src="./img/lic/01.webp" alt="" />
            </div>
          </div>
          <div
            class="swiper-slide"
            data-src="./img/lic/01.webp"
            data-fancybox="gallery"
          >
            <div class="prod-chars__lic">
              <img src="./img/lic/01.webp" alt="" />
            </div>
          </div>
          <div
            class="swiper-slide"
            data-src="./img/lic/01.webp"
            data-fancybox="gallery"
          >
            <div class="prod-chars__lic">
              <img src="./img/lic/01.webp" alt="" />
            </div>
          </div>
          <div
            class="swiper-slide"
            data-src="./img/lic/01.webp"
            data-fancybox="gallery"
          >
            <div class="prod-chars__lic">
              <img src="./img/lic/01.webp" alt="" />
            </div>
          </div>
          <div
            class="swiper-slide"
            data-src="./img/lic/01.webp"
            data-fancybox="gallery"
          >
            <div class="prod-chars__lic">
              <img src="./img/lic/01.webp" alt="" />
            </div>
          </div>
          <div
            class="swiper-slide"
            data-src="./img/lic/01.webp"
            data-fancybox="gallery"
          >
            <div class="prod-chars__lic">
              <img src="./img/lic/01.webp" alt="" />
            </div>
          </div>
          <div
            class="swiper-slide"
            data-src="./img/lic/01.webp"
            data-fancybox="gallery"
          >
            <div class="prod-chars__lic">
              <img src="./img/lic/01.webp" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="lic-pagination pagination"></div>
    </div>
  </div>
</section>
