<section class="prod-hero">
  <div class="container">
    <div class="breadcrumbs">
      <ul>
        <li>
          <a href="./">Главная</a>
        </li>
        <li>
          <a href="./">Каталог</a>
        </li>
        <li>
          <a href="./">Гладилки для бетона</a>
        </li>
        <li>
          <span>Гладилка для бетона телескопическая</span>
        </li>
      </ul>
    </div>

    <h1 class="prod-hero__title title1">
      Бетоноукладчик “Стандарт” без рукояти
    </h1>

    <div class="prod-hero__container">
      <div class="prod-hero__left">
        <div class="prod-hero__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/products/01.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/products/02.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/products/03.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/products/04.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="prod-hero__thumbs swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/products/01.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/products/02.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/products/03.webp" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="./img/products/04.webp" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div class="prod-hero__content">
        <div class="prod-hero__about prod-about">
          <div class="prod-about__left">
            <div class="prod-about__cost title2">Стоимость</div>
            <div class="prod-about__price">1 500 руб.</div>
            <div class="prod-about__capture text">
              Цена указана с учетом скидки
            </div>
          </div>
          <a href="#" class="btn btn-reset prod-about__btn"
            >Добавить в корзину</a
          >
        </div>

        <div class="prod-hero__vari">
          <div class="prod-hero__compl title2">Возможные комплектации</div>
          <div class="prod-hero__items">
            <a href="#" class="prod-hero__var prod-var">
              <div class="prod-var__img">
                <img src="./img/products/01.webp" alt="" />
              </div>
              <div class="prod-var__info">
                <div class="prod-var__name">Бетоноукладчик</div>
                <div class="prod-var__price">1 500 руб.</div>
              </div>
            </a>
            <a href="#" class="prod-hero__var prod-var">
              <div class="prod-var__img">
                <img src="./img/products/05.webp" alt="" />
              </div>
              <div class="prod-var__info">
                <div class="prod-var__name">
                  Бетоноукладчик с рукоятью из металла
                </div>
                <div class="prod-var__price">1 900 руб.</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
