<section class="stock-hero">
  <div class="container">
    <div class="breadcrumbs">
      <ul class="list-reset">
        <li>
          <a href="./">Главная</a>
        </li>
        <li>
          <span>Акции</span>
        </li>
      </ul>
    </div>
    <h1 class="title1 stock-hero__title">Специальные предложения</h1>

    <div class="stock-hero__items">
      <div class="stock-hero__item stock-hero__item--orange sh-item">
        <div class="sh-item__left">
          <div class="sh-item__title">Скидка 10% на первый заказ</div>
          <p class="text sh-item__desc">
            Это краткое или подроное описание акции и специального предложения.
            Это краткое или подроное описание акции и специального предложения.
            Это краткое или подроное описание акции и специального предложения.
          </p>
          <a href="#" class="btn btn-reset sh-item__btn">
            <span>Узнать</span> подробнее
          </a>
        </div>
        <div class="sh-item__img">
          <img src="./img/stock/01.webp" alt="" />
        </div>
      </div>
      <div class="stock-hero__item stock-hero__item--dark sh-item">
        <div class="sh-item__left">
          <div class="sh-item__title">Скидка 10% на первый заказ</div>
          <p class="text sh-item__desc">
            Это краткое или подроное описание акции и специального предложения.
            Это краткое или подроное описание акции и специального предложения.
            Это краткое или подроное описание акции и специального предложения.
          </p>
          <a href="#" class="btn btn-reset sh-item__btn">
            <span>Узнать</span> подробнее
          </a>
        </div>
        <div class="sh-item__img">
          <img src="./img/stock/01.webp" alt="" />
        </div>
      </div>
      <div class="stock-hero__item stock-hero__item--orange sh-item">
        <div class="sh-item__left">
          <div class="sh-item__title">Скидка 10% на первый заказ</div>
          <p class="text sh-item__desc">
            Это краткое или подроное описание акции и специального предложения.
            Это краткое или подроное описание акции и специального предложения.
            Это краткое или подроное описание акции и специального предложения.
          </p>
          <a href="#" class="btn btn-reset sh-item__btn">
            <span>Узнать</span> подробнее
          </a>
        </div>
        <div class="sh-item__img">
          <img src="./img/stock/01.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
