<section class="video">
  <div class="container">
    <h3 class="video__theme title3 title3--accent">Видео</h3>
    <div class="video__header">
      <h2 class="video__title title2">Как мы работаем</h2>
      <div class="video__control control">
        <div class="video-prev control__btn control__btn--prev">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>

        <div class="video-next control__btn control__btn--next">
          <svg class="">
            <use xlink:href="img/sprite.svg#arrow-left"></use>
          </svg>
        </div>
      </div>
    </div>

    <div class="swiper video__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide video__slide">
          <img src="./img/video/cover.webp" alt=""></img>

          <button class="btn-reset video__btn"></button>
        </div>
        <div class="swiper-slide video__slide">
          <img src="./img/video/cover.webp" alt=""></img>
          <button class="btn-reset video__btn"></button>
        </div>
        <div class="swiper-slide video__slide">
          <img src="./img/video/cover.webp" alt=""></img>
          <button class="btn-reset video__btn"></button>
        </div>
        <div class="swiper-slide video__slide">
          <img src="./img/video/cover.webp" alt=""></img>
          <button class="btn-reset video__btn"></button>
        </div>
        <div class="swiper-slide video__slide">
          <img src="./img/video/cover.webp" alt=""></img>
          <button class="btn-reset video__btn"></button>
        </div>
      </div>
    </div>
    <div class="video__pagination"></div>
  </div>
</section>
