*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  background-color: #f1f1f1;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}


.title1 {
  margin: 0;
  font-weight: 600;
  font-size: 60px;
  color: #373737;

  @include tablet {
    font-size: 45px;
  }

  @include small-tablet {
    font-size: 43px;
  }

  @include mobile {
    font-size: 30px;
  }

  &--accent {
    color: var(--accent);
  }
}

.title2 {
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  color: #373737;

  @include small-tablet {
    font-size: 32px;
  }

  @include mobile {
    font-size: 25px;
  }

  &--accent {
    color: var(--accent);
  }
}

.title3 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #373737;

  @include mobile {
    font-size: 20px;
  }

  &--accent {
    color: var(--accent);
  }
}

.title5 {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  color: #373737;
}

.subtitle1 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  color: #373737;

  @include small-tablet {
    font-size: 24px;
  }

  @include mobile {
    font-size: 16px;
  }
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #373737;

  @include mobile {
    font-size: 16px;
  }
}

.btn {
  padding: 10px 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--accent);

  border: 2px solid var(--accent);
  border-radius: 10px;

  transition: color .3s ease-out, background-color .3s ease-out;



  @include hover {
    background-color: var(--accent);
    color: var(--white);
  }

  &--dark {
    border-color: var(--dark);
    color: var(--dark);

    @include hover {
      background-color: var(--dark);
      color: var(--white);
    }
  }

  &--white {
    color: var(--white);
    border-color: var(--white);

    @include hover {
      background-color: var(--white);
      color: var(--dark);
    }
  }

  &--orange {
    background-color: var(--accent);
    color: var(--white);

    @include hover {
      background-color: transparent;
      color: var(--accent);
    }
  }
}


.link-arr {
  display: inline-block;
  position: relative;
  font-weight: 600;
  font-size: 24px;
  color: #373737;

  @include mobile {
    font-size: 16px;
  }

  svg {
    position: absolute;
    left: calc(100% + 15px);
    top: 0;
    fill: currentColor;
    aspect-ratio: 1 / 1;
    height: 40%;
    transition: transform .3s ease-out;
  }

  @include hover {
    svg {
      transform: rotate(45deg);
    }
  }
}

.control {
  display: flex;
  align-items: center;
  gap: 15px;

  &__btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 100%;
    border: 2px solid var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    transition: .3s ease-out;

    svg {
      width: 100%;
      height: 100%;
      fill: var(--dark);

      transition: .3s ease-out;
    }

    &--next {
      transform: rotate(180deg);
    }

    @include hover {
      border-color: var(--accent);

      svg {
        fill: var(--accent);
      }
    }
  }
}

.pagination {
  position: static;
  display: flex;
  justify-content: center;

  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #d9d9d9 !important;

    @include mobile {
      width: 8px !important;
      height: 8px !important;
    }

    &-active {
      background-color: var(--accent) !important;
    }
  }
}